body {
  margin: 0;
  font-family: 'Catamaran', sans-serif;
  font-family: 'Fascinate Inline', cursive;
  font-family: 'Fredoka', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(67,159,232);
  background: linear-gradient(235deg, rgba(67,159,232,0.3) 12%, rgba(210,108,241,0.3) 35%, rgba(247,146,135,0.3) 100%);
  min-height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
